h1 {
    color:cornsilk;
    text-align: center;
    text-shadow: black;
}
header {
    margin-left: 42%;
    width: 500px;
    text-align: center;
    background-color:cadetblue;
}
p {
    color: #ffffff;
}
body {
    background-image: url("https://catherineasquithgallery.com/uploads/posts/2023-01/1674287508_catherineasquithgallery-com-p-fon-sine-serii-gradient-foto-6.jpg");
}