<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добро пожаловать!</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header>
        <nav>
            <img src="https://cs7.pikabu.ru/post_img/big/2014/05/29/10/1401381534_170339322.png" width="50px" height="50px">
            <a href="#">Главная</a>
            <a href="register">Регистрация</a>
            <a href="#">Личный кабинет</a>
            <a href="login">Вход</a>
            <a href="locked">Пасхалочка</a>
        </nav>
    </header>

    <h1>выбери СВОего слоняру:</h1>
    <a href="https://www.dota2.com/hero/Invoker/"><img src="https://cdn.cloudflare.steamstatic.com/apps/dota2/videos/dota_react/heroes/renders/invoker.png" width="450px" height="450px"></a>
    <a href="https://www.dota2.com/hero/pudge"><img src="https://cdn.cloudflare.steamstatic.com/apps/dota2/videos/dota_react/heroes/renders/pudge.png" width="450px" height="450px"></a>
    <a href="https://www.dota2.com/hero/shadowfiend"><img src="https://cdn.cloudflare.steamstatic.com/apps/dota2/videos/dota_react/heroes/renders/nevermore.png" width="450px" height="450px"></a>
    <a href="https://www.dota2.com/hero/juggernaut"><img src="https://cdn.cloudflare.steamstatic.com/apps/dota2/videos/dota_react/heroes/renders/juggernaut.png" width="450px" height="450px"></a>
    <a href="https://www.dota2.com/hero/techies"><img src="https://cdn.cloudflare.steamstatic.com/apps/dota2/videos/dota_react/heroes/renders/techies.png" width="450px" height="450px"></a>
</body>
</html>